# SwiftFormat configuration

--swiftversion 5.9

# Format options
--indent 2
--indentcase false
--trimwhitespace always
--voidtype void
--nospaceoperators ..<,...
--ifdef no-indent
--stripunusedargs closure-only
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first

# Rules
--enable isEmpty
--enable sortedImports
--enable redundantSelf
--enable trailingCommas

--disable blankLinesAtStartOfScope
--disable blankLinesAtEndOfScope
--disable wrapPropertyBodies
--disable noForceUnwrapInTests
--disable docComments
--disable blankLinesBetweenScopes

# Excluded paths
--exclude DerivedData,.build,Pods,Carthage
